<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8"></meta>
<!-- CSS読込 -->

<link rel="stylesheet" th:href="@{/css/register/register.css}">
<!-- JS読込 -->
<script th:inline="javascript">
window.onload = function(){
    //「登録完了」の場合、ダイアログを表示
    var alertStr = document.getElementById("registerFlag").value;
    if(alertStr == "completed"){
    	alert("登録完了しました。");
    }
 };
</script>

<title>PortfolioKun</title>
</head>
<!-- <body class="bg-light">   -->
<body>
	<div layout:fragment="content">
		<div class="header border-bottom">
			<h1 class="h2">保有資産登録</h1>
		</div>
		<form id="register-asset-form" method="post" action="/register/asset" class="form-register-asset" th:object="${registerAssetForm}">
			<ul class="list-group">
				<!-- 証券会社 -->
				<li class="list-group-item">
					<div class="form-group">
						<label for="companyId">
							<h5 class="sm-1">証券会社名</h5> <small>入力したい証券会社名がない場合、「証券会社登録」画面で先に登録をしてください。</small>
						</label>
						<select class="form-control" th:field="*{companyId}">
							<option value="">選択してください</option>
							<option th:each="companies: ${companyList}" th:value="${companies.companyId}" th:text="${companies.companyName}" th:selected="${companies.companyId == selectedValue}"></option>
						</select>
					</div>
				</li>
				<!-- 株式コード -->
				<li class="list-group-item">
					<div class="form-group">
						<label for="stockId">
							<h5 class="sm-1">株式コード</h5> <small>入力したい株式コードがない場合、「株式登録」画面で先に登録してください。</small>
						</label>
						<select class="form-control" th:field="*{stockId}">
							<option value="">選択してください</option>
							<option th:each="stocks: ${stockList}" th:value="${stocks.stockId}" th:text="${stocks.stockCode}" th:selected="${stocks.stockId == selectedValue}"></option>
						</select>
					</div>
				</li>
				<!-- 口座区分 -->
				<li class="list-group-item">
					<div class="form-group">
						<label for="kouzaKubun">
							<h5 class="sm-1">口座区分</h5>
						</label>
						<select class="form-control" th:field="*{kouzaKubun}">
							<option value="">選択してください</option>
							<option value="1">普通口座</option>
							<option value="2">特定口座</option>
							<option value="3">NISA口座</option>
						</select>
					</div>
				</li>
				<!-- 保有株数 -->
				<li class="list-group-item">
					<div class="form-group">
						<label for="stockNum">
							<h5 class="sm-1">保有株数</h5>
						</label>
						<input type="text" class="form-control" th:field="*{stockNum}">
					</div>
				</li>
				<!-- 平均取得単価 -->
				<li class="list-group-item">
					<div class="form-group">
						<label for="aveUnitPrice">
							<h5 class="sm-1">平均取得単価</h5>
						</label>
						<input type="text" class="form-control" th:field="*{aveUnitPrice}">
					</div>
				</li>
			</ul>
			<!-- 登録ボタン -->
			<!-- <input type="submit" value="保有資産登録" class="btn btn-success w-100 mt-3" onClick="alert('登録完了');" /> <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
			<input id=button type="submit" value="保有資産登録" class="btn btn-success mt-3" />
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<input type="hidden" id="registerFlag" th:value="${registerFlag}">
		</form>
	</div>
</body>
</html>