<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script type="text/javascript" src="https://github.com/nagix/chartjs-plugin-colorschemes/releases/download/v0.2.0/chartjs-plugin-colorschemes.min.js"></script>
<title>PortFolioKun</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="header border-bottom">
			<h1 class="h2">保有銘柄チャート</h1>
		</div>
		<canvas id="chart" height="100vh"></canvas>
		<script type="text/javascript" th:inline="javascript">
    var ctx = document.getElementById("chart").getContext('2d');
    data = {
    	    datasets: [{
    	        data: [[${data}]]
    	    }],

    	    labels: [[${label}]]
    };

    // 円グラフ
    var myPieChart = new Chart(ctx,{
        type: 'pie',
        data: data,
        options: {
            //responsive: true,
            plugins: {
                colorschemes: {
                  scheme: 'brewer.Paired12'
                }
            }
        }
    });
   
    //各銘柄の詳細リストへのリンク
    document.getElementById("chart").addEventListener('click', e=>{
    	const elements = myPieChart.getElementAtEvent(e);
    	if(elements.length){
    		stockCode = elements[0]._model.label;
    		url = "/detail-list/asset/"+stockCode;
    		window.location.href=url;
    	}
    });
    
     </script>
	</div>
</body>
</html>