<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script type="text/javascript" src="https://github.com/nagix/chartjs-plugin-colorschemes/releases/download/v0.2.0/chartjs-plugin-colorschemes.min.js"></script>
<title>ポートフォリオ 円グラフ</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="header border-bottom">
			<h1 class="h2">保有銘柄一覧(円グラフ)</h1>
		</div>



	<canvas id="chart"></canvas>
	<script type="text/javascript" th:inline="javascript">
    var ctx = document.getElementById("chart").getContext('2d');
    data = {
    	    datasets: [{
    	        //data: [10, 20, 30],
    	        data: [[${data}]]
    	        //backgroundColor: ['#f88', '#484', '#48f'],
    	    }],

    	    labels: [[${label}]]
    };


    // 円グラフ
    var myPieChart = new Chart(ctx,{
        type: 'pie',
        data: data,
        options: {
            //responsive: true,
            plugins: {
                colorschemes: {
                  scheme: 'brewer.Paired12'
                }
            }
        }
    });
     </script>

	</div>
</body>
</html>