<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.portfolio.mapper.AssetMapper">
	<resultMap type="com.portfolio.model.Asset" id="asset">
		<id column="user_id" property="userId" />
		<id column="stock_id" property="stockId" />
		<result column="user_id" property="userId" />
		<result column="company_id" property="companyId" />
		<result column="kouza_kubun" property="kouzaKubun" />
		<result column="stock_id" property="stockId" />
		<result column="stock_num" property="stockNum" />
		<result column="ave_unit_price" property="aveUnitPrice" />
	</resultMap>


	<!-- Asset複数件取得 -->
	<select id="findAllByUserId">
		select
		*
		from
		asset
		where
		user_id
		=
		#{userId}
	</select>

	<select id="getAssetListByStockId" resultMap="asset">
		select
		*
		from
		asset
		where user_id = #{userId} and
		stock_id = #{stockId}

	</select>



</mapper>