<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.portfolio.mapper.StockMapper">
	<resultMap type="com.portfolio.model.Stock"
		id="stock">
		<id column="stock_id" property="stockId" />
		<result column="stock_code" property="stockCode" />
		<result column="stock_name" property="stockName" />
	</resultMap>


	<!-- Stock複数件取得 -->
	<select id="findAll">
		select
		*
		from
		stock
	</select>


	<!-- ユーザ1件検索 -->
	<select id="findById" resultMap="stock">
		select
		*
		from
		stock
		where
		stock_id=#{stockId}

	</select>



</mapper>